@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  /* Light Mode */
  --background: #FFFFFF;
  --foreground: #171717;
  --secondary: #F4F4F5;
  --accent: #10B981; /* Emerald-500 */
}

.dark {
  /* Dark Mode */
  --background: #000000;
  --foreground: #EDEDED;
  --secondary: #18181B;
  --accent: #10B981;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
